<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %} {% trans "Signup" %} {% endblock head_title %}


{% block content %}
<div class="row">
  <div class="col-md-2 ml-3">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>
</div>
    <div class="row">
  <div class="col-md-2 ml-3">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
  {% endbuttons %}
</form>
  </div>
</div>
{% endblock %}
  </body>
</html>



