body {
  padding:0;
  margin:0;
}

.logo{
  background: url(../img/header2.jpg) no-repeat center top / cover;
height: 680px;
}
.logo1 { width: 500px; border: none; }



  .logo{
    padding: 10px;
  margin: 0 auto;
    font-family: grunge;
    src:url('../fonts/grunge.ttf');
    color: white;
    font-size: 30px;

  
}
nav{
  float: right;
  margin-top: 70px;
}
.menu{
  padding: 0;
  margin: 0;
  display: block;
  font-family: arial;
  font-size: 20px;

}
.menu li{
  float: left;
  display: block;
  margin-right: 40px;
}
.menu a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;

}

ul li:hover {
transform: rotate(-15deg)
scale(1.5,1.5);
border-style: groove;
border-color: #9c0e19;


}

.citate{
border-style: none;
width: 900px;
height: 100px;
margin:420px auto;
background-color: rgba(128,128,128,0.3);
  font-size:30px;
  color: white;
  font-family: arial;
  text-align: justify;
}
.project1{
display:block; 
margin:0 auto;
width: 400px;
  /*text-align: center;
  font-family: arial;
  font-size: 50px;
 
  border-style: none;
  background-color: rgba(128,128,128,0.3);*/
}
.whatisproject{
  text-align: center;
  font-family: Impact;
  font-size: 50px;
margin-top: -80px;
color: #9c0e19;
text-shadow: 2px 1px 3px black ; 

}
.wave{

  width: 100%;
}
.special1{
display:block; 
margin:0 auto;
width: 500px;}

.spezialien_item{
  width: 250px;
  float: left;
  text-align: center;
  margin-top: 150px;
  background-color: #9c0e19;
  box-shadow:3px 3px 5px black,
-3px -3px 5px black ;
 border-radius: 10px; 
}
.spezialien_item img{
  margin-top: 15px;
}
.spezialien_item p{
  font-family: arial;
}
.spezialien_item h3{
  font-family: arial;
}


.spezialien{
  display: flex;
  justify-content: space-around;
  
}

.shower{
  width: 75%;

 display:block; 
margin:0 auto;
  margin-top: 300px;
}




.music1{
  display:block; 
margin:0 auto;
width: 300px;
margin-top: 100px;

}

.audio_item{
  width: 250px;
  float: left;
  text-align: center;
  margin-top: 70px;
}

.audio_item p{
  font-family: arial;
}
.audio_item h3{
  font-family: arial;
}



.audio_block{
  display: flex;
  justify-content: space-around;

}
.witches1{
  width: 50%;

 display:block; 
margin:0 auto;
  margin-top: 45px;
}
footer{
  background-color: #110f0f;
  height: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
form {
  color: white;
font-family: arial;
margin-left: -300px;
text-align: center;
text-align:right;

}
.firstname{
  margin-top: 30px;
  margin-bottom: -30px;
}

fieldset{
  border: none;

}

.vk1{
  width: 70px;

}
.vkwrite{
  color: white;
  font-family: arial;
  text-align: center;
  margin-top: 30px;
 
}

.logo2 { width: 300px; border: none; }

/*.sendsubmit {
width:  33px;  // длина кнопки
height: 33px; // высота кнопки
margin: 0;
padding:0;
border: 0;
background: transparent url(‘../img/button.png’) no-repeat center top;

cursor: pointer; 
cursor: hand; 
}*/



#fall {
  height: 100px;
  width: 100px;
  background-color: red;
}